.key {
    width: 85px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    transition: .3s ease;
    cursor: pointer;

    &:hover {
        background-color: #0F77F0;
        color: #fff
    }

    &__backspace {
        width: 200px;
        background: #AEB3BE;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 8px;
        font-weight: 700;
    }

    &__tab {
        width: 106px;
        background: #AEB3BE;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 8px;
        font-weight: 700;
    }

    &__del {
        width: 100px;
        background: #AEB3BE;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 8px;
        font-weight: 700;
    }

    &__caps-lock {
        width: 200px;
        background: #AEB3BE;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 8px;
        font-weight: 700;
    }

    &__enter {
        width: 160px;
        background: #AEB3BE;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 8px;
        font-weight: 700;
    }

    &__shift {
        width: 200px;
        background: #AEB3BE;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 8px;
        font-weight: 700;

        &_right {
            justify-content: flex-end;
        }
    }

    &__up {
        width: 100px;
        background: #AEB3BE;
        font-weight: 700;
        padding-top: 8px;
        font-size: 24px;
    }

    &__ctrl {
        width: 100px;
    }

    &__win {
        width: 100px;
    }

    &__alt {
        width: 100px;
    }

    &__space {
        width: 640px;
    }

    &__left {
        width: 100px;
    }

    &__down {
        width: 100px;
    }

    &__right {
        width: 100px;
    }
}



.slash_key {
    width: 90px;
    background: #AEB3BE;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 12px;
    font-weight: 700;
}



.space_key {
    max-width: 600px;
    width: 100%;
}